services:
  redis:
    image: redis:alpine
    container_name: my-redis-prod
    ports:
      - "${REDIS_PORT:-6379}:6379"
    networks:
      - app-network
    restart: unless-stopped

  server:
    build:
      context: ./server
    container_name: chat-server
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      # Biến này sẽ được ghi đè bởi file .env trên container hoặc server,
      # trỏ tới MongoDB Atlas
      # - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=redis://redis:6379
    env_file:
      - ./server/.env
    depends_on:
      - redis
    networks:
      - app-network
    restart: unless-stopped

  client:
    build:
      context: ./client
    container_name: chat-client
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    depends_on:
      - server
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
